body {
  background-color: black;
  color: white;
  font-family: "Barlow", sans-serif;
}

#circuito {
  border: 5px solid green;
  height: 35vh;
}

form {
  color: white;
  margin-bottom: 20px;
  display: flex;

  flex-direction: column;
}

input {
  background-color: black;
  outline: none;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  width: 75vw;
}

button {
  margin-top: 20px;
  background-color: green;
  border: none;
  width: 75vw;
  border-radius: 5px;
  position: relative;
  height: 5vh;
}

button:hover {
  background-color: rgb(0, 45, 0);
}

form  p {
  position: relative;
  left: 0px;
}